<div>
  <div>
    <br>
    <h4 class="card-title">Your Contacts</h4>
    <div class="card">
      <div class="card-header">
        <div class="wrapper">
          <span> Index</span>
          <span> Contact Names </span>
          <span> Phone Number </span>
          <span> Email Ids</span>
        </div>
      </div>
      <ul *ngFor="let contact of contacts;let i = index" class="list-group list-group-flush">
        <a class="list-group-item">
          <div class="wrapper">
            <span>{{i}} &nbsp; </span>
            <span>{{ contact.name }} </span>
            <span>{{ contact.phoneNumber }}</span>
            <span>{{ contact.email }}</span>
          </div>
        </a>
      </ul>
    </div>
  </div>
</div>
